<section class="container">
    <div class="blogpost-details">
        <h3 class="blogpost-title">{{title}}</h3>
        <h4>Posted by {{user_id}} on {{created_date}}</h4>
        <p>{{ post_text }}</p>
    </div>
</section>