<section>
    <div class="card border-dark text-center text-bg-light mb-3">
        <div class="card-header">
            <h3>{{title}}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post_text }}</p>
            {{#if loggedIn}}
            <button type="button" class="btn btn-outline-danger">Read comments</button>
            {{/if}}
        </div>
        <div class="card-footer bg-transparent border-success">Posted by {{user.username}} on {{format_date created_date}}
        </div>
    </div>
</section>