<aside class="col-3">
    <h2>Sup Jabroni!</h2>
    <p>Log in to read comments and create your own posts.</p>
    <p>Go to your dashboard to update/delete your own posts and create new ones.</p>
</aside>
<div class="col-9 ps-5">
    {{#each posts as |blogpost|}}
    {{!-- {{> blogpost-details}} --}}
    <section>
        <div class="card border-dark text-center text-bg-light mb-3">
            <div class="card-header">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post_text }}</p>
                {{#if loggedIn}}
                <button type="button" class="btn btn-outline-danger">Read comments</button>
                {{/if}}
            </div>
            <div class="card-footer bg-transparent border-success">Posted by {{user.username}} on {{format_date
                created_date}}
            </div>
        </div>
    </section>
    {{/each}}
</div>